.view-articletype-list {
    padding: 0 !important;
    .tab-title {
        @include rem(58px, height);
        @include rem(56px, line-height);
        background: #f8f9fa;
        position: relative;
        > h4 {
            @include rem(56px, line-height);
            color: $grayDark;
            padding-left: 20px;
        }
        .tab-btns {
            position: absolute;
            right: 20px;
            top: -2px;
        }
    }
    .tab-content {
        padding: 10px 20px;
        .tag-box {
            display: inline-block;
            padding: 5px 30px 5px 10px;
            margin: 5px;
            color: #939393;
            border-radius: 3px;
            border: #d9d7d7 solid 1px;
            position: relative;
            .close-icon {
                position: absolute;
                right: 6px;
                top: 8px;
            }
        }
    }
}

.view-housearticle-search {
    @include rem(30px, padding);
    .top {
        @include rem(20px, padding-top);
        @include rem(40px, padding-bottom);
        .search-inp {
            @include rem(700px, width);
            @include rem(46px, line-height);
            @include rem(20px);
            padding: 0 10px;
            border: 1px solid $borderColor;
            vertical-align: middle;
        }
        .search-btn {
            @include rem(90px, width);
            background: $info url("../images/icons/search-white.png") center no-repeat;
        }
    }
    .bd {
        .title {
            border-bottom: 1px solid $borderColor;
            @include rem(39px,
            height);
            > span {
                display: inline-block;
                border: 1px solid $borderColor;
                border-bottom-color: $white;
                background: $white;
                border-radius: 4px 4px 0 0;
                @include rem(18px);
                line-height: 38px;
                @include rem(40px,
                padding-left);
                @include rem(40px,
                padding-right);
            }
        }
        .no-result {
            padding: 50px;
            @include rem(20px);
            color: $textGray;
        }
        .article-list {
            > li {
                @include rem(30px,
                padding-top);
                @include rem(20px,
                padding-bottom);
                border-bottom: 1px solid $borderColor;
                > h5 {
                    color: $info;
                    @include rem(18px);
                    > a {
                        color: $info;
                    }
                }
                .msg-list {
                    @include clearfix();
                    @include rem(50px,
                    line-height);
                    > li {
                        float: left;
                        width: 30%;
                        > span {
                            color: #a5a4a4;
                        }
                    }
                }
            }
        }
    }
}


/*排序*/

.gray {
    color: $gray;
}

.c-sort-box {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    i {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}
